GameStoreAPI/GameStore.db
GameStoreAPI/bin/Debug/net9.0/GameStoreAPI.dll
GameStoreAPI/bin/Debug/net9.0/GameStoreAPI.exe
GameStoreAPI/bin/Debug/net9.0/GameStoreAPI.pdb
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.AssemblyInfoInputs.cache
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.csproj.CoreCompileInputs.cache
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.csproj.FileListAbsolute.txt
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.dll
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.pdb
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.sourcelink.json
GameStoreAPI/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
GameStoreAPI/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
GameStoreAPI/obj/Debug/net9.0/ref/GameStoreAPI.dll
GameStoreAPI/obj/Debug/net9.0/refint/GameStoreAPI.dll
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.AssemblyInfoInputs.cache
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.csproj.CoreCompileInputs.cache
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.csproj.FileListAbsolute.txt
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.dll
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.pdb
GameStoreAPI/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
GameStoreAPI/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
GameStoreAPI/obj/Debug/net9.0/ref/GameStoreAPI.dll
GameStoreAPI/obj/Debug/net9.0/refint/GameStoreAPI.dll
GameStoreAPI/obj/Debug/net9.0/apphost.exe
GameStoreAPI/bin/Debug/net9.0/GameStoreAPI.pdb
GameStoreAPI/bin/Debug/net9.0/GameStoreAPI.exe
GameStoreAPI/bin/Debug/net9.0/GameStoreAPI.dll
GameStoreAPI/GameStore.db
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.AssemblyInfo.cs
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.AssemblyInfoInputs.cache
GameStoreAPI/obj/Debug/net9.0/GameStoreAPI.AssemblyInfo.cs
GameStoreAPI/GameStore.db
*.dll
*.exe
*.dll
*.json
/GameStoreAPI/obj/Debug
*.dll
*.pdb
*.dll
/GameStoreAPI/bin/Debug
*.dll
/GameStoreAPI/obj
/game-store-frontend/node_modules/.bin
/game-store-frontend/node_modules
/game-store-frontend/node_modules
/game-store-frontend/node_modules
/game-store-frontend/node_modules/@babel
/game-store-frontend/node_modules
/GameStoreAPI/obj

*.db
